0px;
    }
    .title h1 {
        font-size: 25px;
    }
    .title p {
        font-size: 15px;
    }
}

.intro-contaier {
    background-color: rgb(212, 250, 212);
    padding: 80px 10px;
    margin-top: -120px;
}
.intro-title {
    display: block;
    width: 80%;
    margin-left: 130px;
    padding: 30px 30px 50px 50px;
    background-color: white;
    border-radius: 20px;
}
.introduction h1 {
    font-size: 35px;
    color: rgb(87, 163, 87);
    letter-spacing: 2px;
}
.explain {
    margin-left: 130px;
    font-size: 20px;
    letter-spacing: 1px;
}
.name {
    margin-top: 70px;
    margin-left: 100px;
    letter-spacing: 1px;
}
.name h3 {
    font-size: 28px;
    color: rgb(87, 163, 87);
}
.name article {
    font-size: 20px;
    margin-left: 130px;
    line-height: 40px;
}
@media (min-width:320px) and (max-width: 900px)  {
    .intro-contaier {
        padding: 30px 0px;
        margin-top: -120px;
    }
    .intro-title {
        display: block;
        width: 90%;
        margin-left: 10px;
        padding: 30px 10px;
    }
    .introduction h1 {
        font-size: 20px;
    }
    .explain {
        margin-left: 0px;
        font-size: 13px;
        letter-spacing: 1px;
    }
    .name {
        margin-top: 40px;
        margin-left: 10px;
        letter-spacing: 0px;
    }
    .name h3 {
        font-size: 17px;
        color: rgb(87, 163, 87);
    }
    .name article {
        font-size: 13px;
        margin-left: 0px;
        line-height: 20px;
    }
}

.customer-container {
    background-color: rgb(236, 200, 133);
    margin-top: -20px;
    padding: 50px 0px;
}
.customer-title {
    display: block;
    width: 80%;
    margin-left: 130px;
    padding: 30px 30px 50px 50px;
    background-color: white;
    border-radius: 20px;
}
.customer-title h1 {
    color: rgb(224, 158, 35);
    font-size: 30px;
    letter-spacing: 2px;
}
.customer-title article {
    font-size: 20px;
    margin: 0px 100px;
    line-height: 60px;
    letter-spacing: 2px;
}
.customer-detail span {
    color: rgb(224, 158, 35);
}
@media (min-width:320px) and (max-width: 900px)  {
    .customer-container {
        background-color: rgb(236, 200, 133);
        margin-top: 0px;
        padding: 30px 0px;
    }
    .customer-title {
        width: 90%;
        margin-left: 10px;
        padding: 30px 10px;
    }
    .customer-title h1 {
        font-size: 20px;
    }
    .customer-title article {
        font-size: 13px;
        margin: 0px;
        line-height: 20px;
        letter-spacing: 0px;
    }
}


.containers {
    display: flex;
    margin-top: 150px;
}
.adress {
    text-align: center;
    width: 50%;
}
.adress h3 {
    font-size: 20px;
}
.adress img:hover {
    transform: scale(1.5);
    transition-duration: 0.7s;
}
.contact {
    text-align: center;
    align-items: center;
    width: 50%;
    line-height: 50px;
}
.contact h2 {
    font-size: 25px;
}
.contact h3 {
    font-size: 20px;
}
.footer-menu {
    text-align: center;
    margin-top: 70px;
    background-color: rgb(214, 210, 210);
    height: 80px;
    line-height: 80px;
}
.footer-menu li {
    display: inline-flex;
    list-style: none;
    margin-left: 100px;
    font-family: monospace;
    font-size: 20px;
}
.footer-menu li:last-child {
    margin-right: 150px;
}
.footer-menu li:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}
.copyright {
    text-align: center;
    height: 40px;
    line-height: 40px;
}
@media (min-width:320px) and (max-width: 900px)  {
    .containers {
        display: block;
        margin-top: 100px;
    }
    .adress {
        text-align: center;
        width: 100%;
    }
    .adress h3 {
        font-size: 20px;
    }
    .adress img {
        width: 90%;
    }
    .contact {
        text-align: center;
        width: 100%;
        line-height: 50px;
        margin-top: 50px;
    }
    .contact h2 {
        font-size: 20px;
    }
    .contact h3 {
        font-size: 15px;
    }
    .footer-menu {  
        margin-left: -40px;
        margin-top: 50px;
        background-color: rgb(214, 210, 210);
        height: 50px;
        line-height: 50px;
    }
    .footer-menu li {
        text-align: center;
        margin-left: 10px;
        font-size: 13px;
    }
    .footer-menu li:last-child {
        margin-right: 0px;
    }
    .copyright {
        text-align: center;
        font-size: 10px;
        margin: 20px;
    }
}
